.banner {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 15vh;
  }
  
  .banner-text {
    display: block;
    text-align: center;
  }
  
  .banner h2 {
    font-weight: 300;
  }