.contact-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  
  .contact-section h2 {
    margin-top: 0;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-from input[name="subject"]
  {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
  }

  .contact-form input[type="file"] {
    display: block;
    width: 100%;
    padding: 7px 0;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
  }

  .contact-form textarea{
      resize: none;
      overflow: scroll;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
    margin-top: 10px;
      border:  1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 100px;
  }
  
  .contact-form input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px black;
      -webkit-box-shadow: inset 0px 1px 0px 0px black;
      box-shadow: inset 0px 1px 0px 0px black;
      background-color: black;
      border: 1px solid black;
      display: inline-block;
    width: 100%;
    margin: 10px 0;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 12px 18px;
      text-decoration: none;
      text-transform: uppercase;
  }
  