.slider {
    margin: 0 auto;
    padding: 100px 0;
    width: 90%;
  }
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 50vw;
    max-height: 500px;
  }

  .slider:hover {
    cursor: pointer;
  }

  .indicators{
    margin: 0;
    padding: 0;
    text-align:center;
  }

  @media only screen and (max-width: 768px){
    .default-nav {
        display: none!important;
    }
  }

@media only screen and (min-width: 992px){
  .slider{
    width: 70%;
  }
}
